#inscri{
    width: auto;
    height: 600px;
    margin-top: 30px;
    background-color: #030106;
}
#inscri form{
    margin-top: 20px;
    justify-content: space-between;
}
#inscri input{
    box-shadow: 10px 10px #eff3f5;
}
#inscri .card{
    width: 450px;
    height: 500px;
    margin: 20px;
    box-shadow: 10px 10px #83b6cd; /*83b6cd    /*#00a8f3*/
}
#inscri .card-header{
    text-align: center;
}
#inscri .card-footer{
    text-align: center;
}
#inscri .photo{
    
    height: 600px;
    background-color:#19181a;
    background-image: url('../assets/logo.png');
    background-size: cover;
}
#inscri .post{
    flex-direction: row;
}
#inscri button{
    width: 100%;
    margin-top: 20px;
}

